$blue: #081676;
$blue-1: #233687;
$blue-2: #2e468f;
$blue-3: #5c75c0;
$blueish-green: #9fded7;
$whitewashed-blue: #d0e6ef;
$whitewashed-grey: #e9ebec;
$whitewashed-grey-2: #eceeef;
$light-teal: #85a9bd;
$green: #00FAC0;
$white: #ffffff;
$whit-1: #f6f8fb;

$text-fontfamily: 'Open Sans', sans-serif;
$title-fontfamily: 'Noto Sans', sans-serif;

$navbar-scrolling-bg-blue: $blue-1;
$navbar-scrolling-bg-green: $blueish-green;

$navbar-active-underline: $whitewashed-blue;
$hero-color: $white;
$hero-tagline-color: $white;

$headers-color: $blue-2;
$subheaders-color: $blue-3;

html, body {
  height: 100%;
  font-family: $text-fontfamily;
}


h1,h2,h3,h4,h5,h6 {
  font-family: $title-fontfamily;
  color: $headers-color;
}

a {
  color: $blue-2;

  &:hover {
    color: lighten($blue-2, 20%);
    text-decoration: none;
  }
}

h1 {
  font-size: 50px;
  color: $white;
}

p.lead {
  color: $subheaders-color;
}

.btn-primary {
  border-radius: 3px;
  background-image: -moz-linear-gradient( 122deg, $blue-1 0%, $blue-2 100%);
  background-image: -webkit-linear-gradient( 122deg, $blue-1 0%, $blue-2 100%);
  background-image: -ms-linear-gradient( 122deg, $blue-1 0%, $blue-2 100%);
  background-image: linear-gradient( 122deg, $blue-1 0%, $blue-2 100%);
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  padding: 0.6rem 2rem;
  border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background-image: linear-gradient( 122deg, $blue-2 0%, $blueish-green 100%);
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
  color: #FFF;
}

header {
  height: 100%;

  .tagline {
    font-size: 25px;
    font-weight: 300;
    color: $hero-tagline-color;
    max-width: 1024px;
    margin: 0 auto;
  }
}

.mt-10 {
  margin-top: 10rem;
}

.light-bg {
  background-color: $whit-1;
}

.dark-bg {
  background-color: $whitewashed-blue;
}

.bg-gradient {
  background-image: -moz-linear-gradient( 135deg, fade_out($blue, 0.1) 0%, fade_out($green, 0.6) 100%);
  background-image: -webkit-linear-gradient( 135deg, fade_out($blue, 0.1) 0%, fade_out($green, 0.6) 100%);
  background-image: -ms-linear-gradient( 135deg, fade_out($blue, 0.1) 0%, fade_out($green, 0.6) 100%);
  background-image: linear-gradient( 135deg, fade_out($blue, 0.1) 0%, fade_out($green, 0.6) 100%);
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
  background-color: $blue;
  background: -moz-linear-gradient( 135deg, fade_out($blue, 0.1) 0%, fade_out($green, 0.6) 100%);
  background: -webkit-linear-gradient( 135deg, fade_out($blue, 0.1) 0%, fade_out($green, 0.6) 100%);
  background: linear-gradient(135deg, $navbar-scrolling-bg-blue 0%, $navbar-scrolling-bg-green 100%);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 14px;
  }
  .navbar-nav>.nav-item>.nav-link.active:after {
    content: "";
    border-bottom: 2px solid $navbar-active-underline;
    left: 1rem;
    right: 1rem;
    bottom: 5px;
    height: 1px;
    position: absolute;
  }
}

.gradient-fill:before {
  color: $blue-1;
  background: -moz-linear-gradient(top, $blue 0%, $green 100%);
  background: -webkit-linear-gradient(top, $blue 0%, $green 100%);
  background: linear-gradient(to bottom, $blue 0%, $green 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  padding: 1rem 1rem;
  border-color: $whitewashed-grey $whitewashed-grey #FFF;
  font-size: 19px;
  color: $light-teal;
  background: $whitewashed-grey-2;
}

.nav-tabs .nav-link.active {
  background: #FFF;
  border-top-width: 3px;
  border-color: $blueish-green #faf6fb #FFF;
  color: $blue;
}

.card.features:before {
  content: "";
  position: absolute;
  width: 3px;
  color: $blue-1;
  background: -moz-linear-gradient(top, $blue 0%, $green 100%);
  background: -webkit-linear-gradient(top, $blue 0%, $green 100%);
  background: linear-gradient(to bottom, $blue 0%, $green 100%);
  top: 0;
  bottom: 0;
  left: 0;
}

.card-image {
  position: relative;
  display: block;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
}

.card-image:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: $blueish-green;
  opacity: 0;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.card-image:hover:after {
  opacity: 0.7;
}

.card-image .card-image-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50% , calc(-50% - 15px));
  -ms-transform: translate(-50% , calc(-50% - 15px));
  transform: translate(-50% , calc(-50% - 15px));
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  opacity: 0;
  z-index: 10;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.card-image:hover .card-image-icon {
  -webkit-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  transform: translate(-50% , -50%);
  opacity: 1;
}

.social-icons a {
  color: lighten($blue-2, 20%);
  &:hover {
    text-decoration: none;
    color: lighten($blue-2, 35%);
  }
}

.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon {
  font: bold 15px Sans-Serif;
  color: $whitewashed-blue;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: $blueish-green;
  background-image: -webkit-gradient(linear, left top, left bottom, from($blue-1), to($blue-2));
  background-image: -webkit-linear-gradient(top, $blue-1, $blue-2);
  background-image:    -moz-linear-gradient(top, $blue-1, $blue-2);
  background-image:     -ms-linear-gradient(top, $blue-1, $blue-2);
  background-image:      -o-linear-gradient(top, $blue-1, $blue-2);
  background-image:         linear-gradient(top, $blue-1, $blue-2);
  color: $whitewashed-blue;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
  content: "";
  border-top:   3px solid $blueish-green;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon:before {
  left: 0;
}
.ribbon:after {
  right: 0;
}

